/* 头部 start */
.lm-header {
    width: 100%;
    height: 200px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 头部logo */
.lm-header_logo {
    font-size: 20px;
    font-weight: 600;
}
/* 头部 end */

/* 导航栏 start */
.lm-nav {
    width: 100%;
    background: #e6e6e6;
    display: flex;
    /* 让开关和列表打横排水平居中 */
    flex-direction: row;
    justify-content: center;
}

/* 导航栏开关盒子 */
.lm-nav_toggleBox {
    /* 设置高度，让li能垂直居中 */
    height: 56px;
    display: none;
    justify-content: center;
    align-items: center;
}

/* 导航栏开关图标 */
.lm-nav_toggleBox_font {
    color: rgb(102, 102, 225);
}

/* 导航栏开关选择框 */
.lm-nav_toggleBox_input {
    display: none;
}

/* 导航栏列表 */
.lm-nav_listBox {

    /* 使用flex的特性默认打横放 */
    display: flex;
    align-items: center;

}

/* 导航栏列表标签 */
.lm-nav_listBox>li>a {
    display: block;
    line-height: 56px;
    padding: 0 10px;
}

/* 导航栏列表标签 鼠标移入事件 */
.lm-nav_listBox>li>a:hover {
    background: orange;
}
/* 导航栏 end */

@media screen and (max-width: 700px) {


/* 导航栏 start */
    .lm-nav {
        flex-direction: column;
    }

    /* 导航栏开关盒子 */
    .lm-nav_toggleBox {
        display: flex;
    }

    /* 导航栏开关选择框 */
    .lm-nav_toggleBox_input:checked+.lm-nav_listBox {
        /* 取消flex布局，这样li就会打竖 */
        display: block;

    }

    /* 导航栏列表 */
    .lm-nav_listBox {
        /* 隐藏导航栏列表 */
        display: none;
        /* 让lm-nav盒子的背景色填满 */
        height: 100%;
    }
/* 导航栏 end */

}

