<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.mapper.AdminUserMapper">
    <select id="countUserRole" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            kss_users_roles
        where
            user_id = #{userId}
          and
            role_id = #{roleId}
    </select>

    <insert id="saveUserRole">
        INSERT INTO kss_users_roles (user_id,role_id) VALUES( #{userId},#{roleId})
    </insert>

    <delete id="delUserRole">
        DELETE FROM
            kss_users_roles
        where
            user_id = #{userId}
          and
            role_id = #{roleId}
    </delete>
    <!--通过id查找角色-->
    <select id="findUserRolesByUid" resultType="com.lm.entity.pojo.adminroles.AdminRoles">
        SELECT t2.*
        from kss_users_roles t1 ,kss_roles t2
        where
              t1.user_id = #{userId} and t1.role_id = t2.id
    </select>
</mapper>
